.collapsible-header {
    padding: 15px;
}

.profile-image {
    vertical-align: middle;
}

.name {
    padding-left: 10px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 64px;
}

.username {
    padding-left: 10px;
    vertical-align: middle;
    color: lightgrey;
    font-style: italic;
}

.latest-track {
    float: right;
    line-height: 20px;
    text-align: right;
    vertical-align: middle;
    margin-top: 15px;
    font-size: 20px;
}

.latest-track > i {
    line-height: 20px;
    margin: 0;
}

.artist {
    font-size: 15px;
    color: lightgrey;
    font-style: italic;
}

.title {
    font-weight: 500;
}

.title > i {
    font-size: 16px;
    vertical-align: middle;
}

.avatar > p {
    padding: 0;
    font-style: italic;
}