.brand-logo {
    margin-left: 15px;
}

.collapsible-header {
    padding: 15px;
}

.profile-image {
    vertical-align: middle;
}

.name {
    padding-left: 10px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 64px;
}

.username {
    padding-left: 10px;
    vertical-align: middle;
    color: lightgrey;
    font-style: italic;
}

.latest-track {
    float: right;
    line-height: 20px;
    text-align: right;
    vertical-align: middle;
    margin-top: 15px;
    font-size: 20px;
}

.latest-track > i {
    line-height: 20px;
    margin: 0;
}

.artist {
    font-size: 15px;
    color: lightgrey;
    font-style: italic;
}

.title {
    font-weight: 500;
}

.title > i {
    font-size: 16px;
    vertical-align: middle;
}

.avatar > p {
    padding: 0;
    font-style: italic;
}

.error-message {
    padding: 25px;
    background-color: #b71c1c;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: white;
    font-size: 25px;
}

.error-message > i {
    vertical-align: middle;
    font-size: 50px;
    margin-right: 15px;
}

.top-margin {
    margin-top: 50px;
}