.brand-logo {
    margin-left: 15px;
}

.collapsible-header {
    padding: 15px;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex-grow: 1;
}

.profile-image {
    vertical-align: middle;
}

.name {
    padding-left: 10px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 64px;
    white-space: nowrap;
}

.username {
    padding-left: 10px;
    vertical-align: middle;
    color: lightgrey;
    font-style: italic;
}

.latest-track {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: right;
    line-height: 20px;
    text-align: right;
    vertical-align: middle;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 25px;
}

.collapsible-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latest-track > i {
    line-height: 20px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.artist {
    font-size: 15px;
    color: lightgrey;
    font-style: italic;
    margin-right: 2px;
}

.title {
    font-weight: 500;
}

.title > i {
    font-size: 16px;
    vertical-align: middle;
}

.avatar > p {
    padding: 0;
    font-style: italic;
}

.error-message {
    padding: 25px;
    background-color: #b71c1c;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: white;
    font-size: 25px;
}

.error-message > i {
    vertical-align: middle;
    font-size: 50px;
    margin-right: 15px;
}

.top-margin {
    margin-top: 50px;
}

#github-footer {
    font-size: 35px;
    margin-top: 50%;
    transform: translate(0, -25%);
}

#github-footer:hover {
    color: white;
}

.friend-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.latest-track > span > .play-arrow {
    line-height: inherit;
    margin-right: 0;
}

.jumbo-text {
    text-align: center;
    font-size: 25px;
}

@keyframes bar1 {
  0% {transform: translate(0, 70%)}
  50% {transform: translate(0, 0%)}
  100% {transform: translate(0, 70%)}
}
@keyframes bar2 {
  0% {transform: translate(7px, 90%)}
  50% {transform: translate(7px, 50%)}
  100% {transform: translate(7px, 90%)}
}
@keyframes bar3 {
  0% {transform: translate(14px, 75%)}
  50% {transform: translate(14px, 25%)}
  100% {transform: translate(14px, 75%)}
}

.bar {
  height: 100%;
  width: 4px;
}
.bar:nth-child(1) {
  animation: bar1 1.33s infinite;
}
.bar:nth-child(2) {
  animation: bar2 1s infinite;
}
.bar:nth-child(3) {
  animation: bar3 1.66s infinite;
}
